**/sim_data/**/sim_input/**/*.*
**/sim_data/**/sim_output/**/*.*
!**/sim_data/**/sim_output/*.png
**/generated/**/*.*
**/output/*.png
**/output/*.svg
**/data/**/*.*
**/threads/**/*.*
**/progress/sim_input/**/*.*
**/progress/sim_output/**/*.*
!**/progress/sim_output/**/*.png